$color-primary: #c0392b;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-primary-hov: $color-primary-light;
$color-primary-hov--dark: $color-primary-dark;
$color-primary-text: #424242;

/*
$color-secondary: #ea80fc;
$color-secondary-light: #ffb2ff;
$color-secondary-darker: #b64fc8;
 */

$color-secondary: #666;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-darker: darken($color-secondary, 10%);;

$color-secondary-hov: $color-secondary-darker;

$color-black-light: #1a1a1a;

$color-grey: #424242;
$color-grey-alt: #424242;
$color-grey-lighter: #e6e3e8;
$color-grey-light: #f9f9f9;

$color-grey-cardborder: #ede9ef;

$color-shadow: rgba(0,0,0,0.15);

$color-text-on-primary: #c4b5bf;

$color-header-background-light: rgba(0, 0, 0, 0.05);
$color-header-background-main: rgba(0, 0, 0, 0.60);
$color-header-background-nav: rgba(0, 0, 0, 0.85);

$color-modal-background: #121417;
$color-modal-text: #f1f1f1;

$color-white: #fff;
$color-white-hov: $color-grey-lighter;