@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Montserrat Regular'),
       local('Montserrat-Regular'),
       url(/wp-content/themes/miating/assets/fonts/Montserrat/fonts/webfonts/Montserrat-Regular.woff) format('woff'),
       url(/wp-content/themes/miating/assets/fonts/Montserrat/fonts/webfonts/Montserrat-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Montserrat Bold'),
       local('Montserrat-Bold'),
       url(/wp-content/themes/miating/assets/fonts/Montserrat/fonts/webfonts/Montserrat-Bold.woff) format('woff'),
       url(/wp-content/themes/miating/assets/fonts/Montserrat/fonts/webfonts/Montserrat-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Club Seven';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Slubseven Regular'),
  local('Slubseven-Regular'),
  url(/wp-content/themes/miating/assets/fonts/club_seven/clubsevenespadas.woff) format('woff'),
  url(/wp-content/themes/miating/assets/fonts/club_seven/clubsevenespadas.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}