.card {
  @include media-breakpoint-down(xs) {
    max-width: 378px;
    margin: 0 auto;
  }
  &__border {
    border: 2px solid $color-grey-cardborder;
  }
  &__clickable {
    z-index: 1;
    top: 0;
  }
  &__solution {
    &-icon {
      $solution_icon_width: 40px;
      max-width: calc((20px * 2) + #{$solution_icon_width} );
      margin-top: calc( #{$solution_icon_width} / -2);
      background: #fff;
      padding: 0 20px;
    }
  }
  &__iconoverlay {
    &--container {
      $overlay_logo_width: 130px;
      width: #{$overlay_logo_width};
      height: #{$overlay_logo_width};
      margin-top: calc( #{$overlay_logo_width} / -2);
      background: #fff;
      padding: 0 20px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 100%;
      z-index: 1;
    }
    &--icon {
      display: block;
      margin: 40% auto 0;
    }
  }
  &__event {
    &-bgnumber {
      font-size: 9em;
      line-height: 1em;
      font-family: $headings-font-family;
      &--overlay {
        top: 0;
        height: 100%;
      }
    }
  }
}