.title-area {
  max-width: 160px;
  overflow: hidden;
  margin-top: -20px;
  //display: inline-block;
  vertical-align: top;
  @media only screen and (min-width: $responsive-menu-break-min) {
    float: left;
  }
  .site-title {
    text-indent: -99999px;
    a {
      //background: url(assets/images/logo.svg) no-repeat left;
      background-size: contain !important;
      padding: 0;
      float: left;
      border: none;
    }
  }

  display: none; //Just hide till there's a logo
}


/*----------  Header Widget Area  ----------*/
.header-widget-area {
  //width: calc(100% - 160px);

  width: 100%; //Full width till there's a logo
}

.hero {
  animation: fadeIn 700ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 300ms forwards;
}

/*----------  Fancy mouse tracking  ----------*/
#trackmouse_container {
  perspective: 30px;
}

#trackmouse_inner {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}