.modal {
  @include transition(all 0.5s linear);
  position: fixed;
  height: 0;
  visibility: hidden;
  opacity: 0;
  .modal-open &.show {
    height: initial;
    visibility: visible;
    overflow: visible;
    display: initial;
    opacity: 1;
  }
  &__close {
    right: 0; //Negate the padding
    top: 0;   //Negate the padding
    transform: translateY(-50%) translateX(50%);
    &--circle {
      background: $color-secondary;
      width: 2em;
      height: 2em;
      border-radius: 1em;
      @include ctatransition();

      &-inner {
        &::before, &::after {
          content: ' ';
          width: 1em;
          height: 2px;
          background: $color-white;
          position: absolute;
          top: 14px;
          right: 8px;
          @include ctatransition();
        }
        &::before {
          transform: rotate(-45deg);
        }
        &::after {
          transform: rotate(45deg);
        }
      }
      &:hover {
        cursor: pointer;
        transform: rotate(-10deg);
      }

      &:hover &-inner {
        &::before, &::after {
          background: $color-grey-lighter;
        }
      }
    }
  }
  &-content {
    border-radius: 15px;
  }
  &__background {
    display: block;
    width: 100%;
    height: 100%;
    background: $color-modal-background;
    opacity: 0;
    top: 0;
    right: 0;
    border-radius: 0;
    z-index: 6;
    @include ctatransition();
    .menu-open &, .modal-open &, .modal-open &.show {
      opacity: .6;
    }
  }
  &__demo {
    visibility: hidden;
    &.show {
    }

    &-dialog {
      max-width: 700px;
      max-height: calc(100vh - 85px);
      transform: translateX(-500%);
    }
    &-content {
      //background: $color-modal-background;
      //color: $color-modal-text;
      padding: 20px;
      &--inner {
        padding: 1em 3em;
        border: 2px dashed $color-grey;
        &-content {
          max-width: 350px;
        }
      }
    }
    &-form {
      form {
        width: 100%;
      }
      input {
        padding: 10px 16px;
      }
      textarea {
        height: 150px;
      }
      p {
        margin-bottom: 5px;
      }
    }
  }
}