.scrolldown {
  width: 30px;
  height: 60px;
  background: $color-modal-background;
  border-radius: 50px;
  border: 2px solid $color-white;
  margin: 0 auto;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;

  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.visible {
    opacity: 1;
    .scrolldown--inner {
      transform: translateY(25px);

      transition-delay: 10s;
      transition: transform 4s ease, top 4s ease;
    }
  }

  &::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 80%;
    margin: 0 auto;
    border: 1px solid #cacaca;
    left: 0;
    right: 0;
    top: -120%;
  }
  &:hover {

  }

  &--inner {
    width: 5px;
    height: 5px;
    background: $color-white;
    margin: 50% auto 0 auto;
    border-radius: 5px;
    @include ctatransition();
  }
}