.sectiontitle {
  &::after {
    content: '';
    width: 100px;
    height: 2px;
    position: absolute;
    background: linear-gradient(90deg,$color-primary-dark 30%, $color-primary-light);
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &.color--white::after {
    background: linear-gradient(90deg,$color-white 30%, $color-white-hov);
  }

  &.color--primary::after {
    background: linear-gradient(90deg,$color-primary 30%, $color-primary-dark);
  }
}

.no-shadow {
  box-shadow: none;
}

.overlay__content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  &-haslogo {
    top: auto;
  }
  &-hasarchivelogo {
    right: auto;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      bottom: auto;
      right: 0;
      text-align: center;
    }
  }
  &-logo {
    transform: translateY(50%);
  }
  &-archivelogo {
    transform: translateX(-50%);
    @include media-breakpoint-down(md) {
      transform: translateY(-50%);
    }
  }
  &-bottom {
    top: auto;
    &left {
      top: auto;
      right: auto;
    }
  }
}

.cardshadow {
  @include cardshadow();
}

.social__icon {
  color: $color-primary-hov;
  &:hover {
    color: $color-secondary;
  }
}

.underglow {
  -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.4);
}