.owl__readmore > a {
	z-index: 1;
}

.owl-theme {
	@media screen and (min-width: 992px) and (max-width: 1450px) {
		max-width: calc(100% - 140px);
		margin: 0 auto;
	}
	.owl-stage {
		@extend .my-5;
		.item {
			@include media-breakpoint-down(xs) {
				width: 100%;
				margin: 0 auto;
			}
		}
		&-outer {

		}
	}

	.owl-item {
		img {
			width: initial;
			max-width: 100%;
		}
	}


	// Styling Next and Prev buttons
	.owl-nav {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		@include media-breakpoint-up(lg) {
			$nav-extra-width: 180px;
			position: absolute;
			width: calc(100% + #{$nav-extra-width});
			top: 30px;
			margin: 0 #{$nav-extra-width / -2};

			&::before {
				content: " ";
				height: 2px;
				width: 100%;
				background-color: $color-grey-alt;
				align-self: center!important;
				position: absolute;
				z-index: -1;
			}
		}

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			//margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			.fas {
				color: $color-primary-hov;
				background: #fff;
				padding: 10px;
				border: 2px solid $color-grey-alt;
				border-radius: 50%;
				width: 1.88em;
			}

			&:hover {
				.fas {
					color: #fff;
					background: $color-primary-hov;
					border-color: $color-primary-hov;
				}
			}
		}

		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		@include media-breakpoint-up(lg) {
			margin-bottom: -38px;
		}

		@include media-breakpoint-down(lg) {
			position: absolute;
			width: 100%;
			bottom: 0;
		}

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
				border: 2px solid $color-grey-alt;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
					border-color: $dot-background-active;
				}
			}
		}
	}
}

.owl-theme--partner-logos {
	.owl-stage {
		margin: 0 auto;
	}
}


.owl-theme--stories {
	.owl-stage {
		@extend .mt-4;
		@extend .mb-3;
		.item {
			@include media-breakpoint-down(xs) {
				width: 100%;
				margin: 0 auto;
			}
		}
		&-outer {

		}
	}

	.owl-item {
		img {
			width: initial;
			max-width: 100%;
		}
	}


	// Styling Next and Prev buttons
	.owl-nav {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			//margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			.fas {
				color: $color-primary-hov;
				padding: 10px;
			}

			&:hover {
				.fas {
					color: #fff;
					background: $color-primary-hov;
					border-color: $color-primary-hov;
				}
			}
		}

		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		bottom: 0;
		margin: 0 auto;
		width: 100%;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
				border: 2px solid $color-grey-alt;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
					border-color: $dot-background-active;
				}
			}
		}
	}
}
