@mixin FontHandwritten() {
  font-family: $headings-font-family;
  font-weight: $headings-font-family;
  line-height: 1.1em;
  letter-spacing: .01em;
}
/*
@include FontHandwritten();
*/

@mixin FontRegular($weight) {
  font-family: $font-family-base;
  font-weight: $weight;
}