/*
  Use:
  .box { @include border-radius(10px); }
*/


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
/* @include box-shadow(3px,3px,10px, $color-secondary-light, false); */

@mixin cardshadow() {
  -webkit-box-shadow: 0 4px 23px 2px $color-shadow;
  -moz-box-shadow: 0 4px 23px 2px $color-shadow;
  box-shadow: 0 4px 23px 2px $color-shadow;
}
/* @include cardshadow(); */

@mixin readmoreshadow() {
  -webkit-box-shadow: 0 10px 30px 0 $color-shadow;
  -moz-box-shadow: 0 10px 30px 0 $color-shadow;
  box-shadow: 0 10px 30px 0 $color-shadow;
}
/* @include readmoreshadow(); */


/* @include ctashadow(); */
@mixin ctashadow() {
  -webkit-box-shadow: 0 2px 4px 0 $color-shadow;
  -moz-box-shadow: 0 2px 4px 0 $color-shadow;
  box-shadow: 0 2px 4px 0 $color-shadow;
}

/* @include headershadow(); */
@mixin headershadow() {
  -webkit-box-shadow: 0 10px 30px 0 $color-shadow;
  -moz-box-shadow: 0 10px 30px 0 $color-shadow;
  box-shadow: 0 10px 30px 0 $color-shadow;
}

/* @include transition(all 0.2s ease-in-out); */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* @include ctatransition(); */
@mixin ctatransition() {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* @include alttransition(0.4s); */
@mixin alttransition($args) {
  -webkit-transition: all $args ease;
  -moz-transition: all $args ease;
  -ms-transition: all $args ease;
  -o-transition: all $args ease;
  transition: all $args ease;
}

/*
@include ButtonBefore();
*/
@mixin ButtonBefore() {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f35a";
  margin-right: 7px;
}


/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white, $content: ''){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: $content;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1em;
    height: $lineHeight;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

/*
.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
} */


/* Site footer animation */
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
/* Use like this:
@include keyframes(move-the-object) {
  0%   { right: 0; }
  100% { right: 220px; }
}

.footer-map__block{
  position: absolute;
  @include animation('move-the-object linear 5s 1 forwards');
}
 */