/*=====================================
=            Accessibility            =
=====================================*/

/*----------  Screen Reader Text  ----------*/

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: $color-grey;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.7);
}

.more-link {
    position: relative;
}

/*----------  Skip Links  ----------*/

.genesis-skip-link {
	margin: 0;

	li {
		height: 0;
		width: 0;
		list-style: none;
	}

	a {
		border-bottom: 0;

		&:hover {
			background: $color-grey-lighter;
		}
	}
}

/* Display outline on focus */
:focus {
	color: $color-secondary;
	box-shadow: 0;
}