.bg {
  &__video::after {
    content: ' ';
    background-image: url(/wp-content/themes/miating/assets/images/video-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-up(lg) {
      box-shadow: 0 0 170px 150px white inset;
    }
    @include media-breakpoint-up(md) {
      box-shadow: 0 0 170px 100px white inset;
    }
    box-shadow: 0 0 80px 40px white inset;
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    @extend .container;
  }

  &__hero::after {
    content: ' ';
    background-image: url(/wp-content/themes/miating/assets/images/video-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-up(lg) {
      box-shadow: 0 0 170px 150px white inset;
    }
    @include media-breakpoint-up(md) {
      box-shadow: 0 0 170px 100px white inset;
    }
    box-shadow: 0 0 80px 40px white inset;
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    @extend .container;
  }

  &__crooked {
    background: $color-grey-lighter;
    @include media-breakpoint-up(xl) {
      margin: 0 20px;
    }
    &-right {
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
    }
    &-left {
      border-top-right-radius: 100px;
      @include media-breakpoint-up(lg) {
        border-bottom-left-radius: 100px;
      }
    }
  }

  &__solutions {
    content: " ";
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    &-left {
      $bg__solutions-left-size: 100px;

      width: $bg__solutions-left-size;
      height: $bg__solutions-left-size;
      left: $bg__solutions-left-size / -2;
      bottom: 0;
    }
    &-right {
      width: 250px;
      top: 18%;
      right: 9%;
    }
    &-line {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 2px;
      background: $color-grey-lighter;
      top: 60%;
    }
  }
}