.color {
  &--primary {
    color: $color-primary !important;
    &-alt {
      color: $color-primary-hov !important;
    }
    &-light {
      color: $color-primary-light !important;
    }
    &-dark {
      color: $color-primary-dark !important;
    }
  }
  &--secondary {
    color: $color-secondary !important;
    &-alt {
      color: $color-secondary-hov !important;
    }
    &-light {
      color: $color-secondary-light !important;
    }
    &-dark {
      color: $color-secondary-darker !important;
    }
  }

  &--grey {
    color: $color-grey !important;
    &-alt {
      color: $color-grey-alt !important;
    }
    &-lighter {
      color: $color-grey-lighter !important;
    }
    &-light {
      color: $color-grey-light !important;
    }
  }

  &--white {
    color: #fff !important;
  }
  
  &--black {
    color: #333;
  }

  &--on-primary {
    color: $color-text-on-primary !important;
  }
}


.background {
  &--primary {
    background-color: $color-primary !important;
    &-alt {
      background-color: $color-primary-hov !important;
    }
    &-light {
      background-color: $color-primary-light !important;
    }
    &-dark {
      background-color: $color-primary-dark !important;
    }
  }
  &--secondary {
    background-color: $color-secondary !important;
    &-alt {
      background-color: $color-secondary-hov !important;
      &--dark {
        background-color: $color-primary-hov--dark !important;
      }
    }
    &-light {
      background-color: $color-secondary-light !important;
    }
    &-dark {
      background-color: $color-secondary-darker !important;
    }
  }

  &--grey {
    background-color: $color-grey !important;
    &-alt {
      background-color: $color-grey-alt !important;
    }
    &-lighter {
      background-color: $color-grey-lighter !important;
    }
    &-light {
      background-color: $color-grey-light !important;
    }
  }

  &--white {
    background-color: #fff;
  }

  &--modal {
    background-color: $color-modal-background;
  }
}

.color-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &--gradient {
    //Dark - Light - Regular
    background: -moz-linear-gradient(left, rgba($color-secondary-darker,0.6) 10%, rgba($color-secondary-light,0.2) 50%, rgba($color-secondary,0.4) 90%);
    background: -webkit-linear-gradient(left, rgba($color-secondary-darker,0.6) 10%,rgba($color-secondary-light,0.2) 50%,rgba($color-secondary,0.4) 90%);
    background: linear-gradient(to right, rgba($color-secondary-darker,0.6) 10%,rgba($color-secondary-light,0.2) 50%,rgba($color-secondary,0.4) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-secondary-darker', endColorstr='$color-secondary',GradientType=1 );
  }
}