
/*==============================
=            Footer            =
==============================*/

.site-footer {
	clear: both;
	overflow: hidden;
}

/*----------  Widgets  ----------*/

.footer-widgets {
	clear: both;
	overflow: hidden;
	padding: 40px 10px;

	.widget {
		margin-bottom: 40px;
	}
}

.footer {
	&__image {
		&-wave {
			max-width: 600px;
		}
		&-blocks {
			right: 0;
			bottom: 5px;
			max-width: 240px;
		}
	}
	&__contact {
		font-weight: 600;
		font-size: 24px;
		font-size: 1.5rem;
		&-icon {
			max-width: 26px;
		}
	}
	&-logo {
		max-width: 160px;
	}
	&-link {
		color: #fff;
		@include ctatransition();
		&:hover {
			color: $color-text-on-primary;
		}
	}
	@include media-breakpoint-only(xs) {
		&__after {
			span {
				width: 100%;
				display: block;
			}
		}
	}
}