/*=============================
=            Forms            =
=============================*/

input,
select,
textarea {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid $color-grey;
	color: $color-grey;
	padding: 10px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="file"] {

}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input:not( [type="checkbox" ] ),
input:not( [type="image"] ),
input:not( [type="radio"] ) {
	-webkit-appearance: none; /* Remove iOS styles */
}

::-moz-placeholder {
	color: $color-grey;
	font-weight: 400;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $color-grey;
	font-weight: 400;
}

span.required-input {
	position: absolute;
	color: $color-primary;
	right: 1.5em;
	font-size: 1em;
	line-height: 1em;
	margin-top: 1.5em;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background: linear-gradient(90deg,$color-primary-dark 0, $color-primary-light);
	color: $color-white;
	cursor: pointer;
	padding: 14px 25px;
	width: auto;
	border-radius: $border-radius;
	border: none;

	font-family: $fontHeading;
	font-weight: 400;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1pt;
	@include ctashadow();
	@include ctatransition();
	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		border-radius: 50px;
		left: 0;
		top: 0;

		box-shadow: inset 0 0 0 999px rgba(255,255,255,0.15);
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus {
	color: $color-grey-lighter;
	&::after {
		opacity: 1;
	}
}

.button {
	display: inline-block;
}

/*----------  Search Form  ----------*/
/*

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
}

.entry-content,
.site-header {
	.search-form {
		width: 50%;
	}
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

 */