

/*======================================
=            Genesis Classes            =
======================================*/

/*----------  Archive/Author Box  ----------*/

.archive-description,
.author-box {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
    padding: 40px 0;

    p:last-child {
    	margin-bottom: 0;
    }
}

.author-box {
	font-size: .8em;
	margin: 20px 0 40px;

	.avatar {
		margin: 0 0 24px 24px;
		max-width: 70px;
	}
}

.archive-description {
	margin: 0 0 40px;
}

/*----------  Breadcrumbs  ----------*/

.breadcrumb {
	font-family: $headings-font-family;
	a {
		font-weight: normal;
		color: $color-primary-text !important;
	}
}


/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@include media-breakpoint-up(md) {

	.author-box {
		font-size: 18px;
		font-size: 1.8rem;

		.avatar {
			max-width: 100%;
		}
	}

}