.genesis-nav-menu {
	text-align: right;
	clear: both;
	line-height: 1;

	@include media-breakpoint-up(md) {
		clear: both;
		line-height: 1;
		text-align: center;
	}

	.menu-item {
		display: none;
		position: relative;
		font-weight: 600;
		font-size: 16px;
		font-size: 1em;
		text-align: left;
		margin-bottom: -2px;

		&.menubutton {
			display: inline-block;
			vertical-align: middle;
		}

		@include media-breakpoint-up(md) {
			display: inline-block;
			&.menubutton {
				vertical-align: initial;
			}
			&.menubutton__hamburger {
				display: none;
			}
		}

		@include ctatransition();
		&:hover, &.current-menu-item {
			@include ctatransition();
		}

		&-home {
			display: none;
		}

		&.menu-item-has-children:hover {
			@include ctatransition();
		}

		> a {
			padding: 20px 20px 30px;
		}

	}

	&.folded-menu {
		.menu-item {
			display: flex;
			font-size: 1.9rem;
			line-height: .5em;

			a {
				display: inline-flex;
				padding: 20px;
			}

			&:not(:first-of-type) {
				margin-top: 15px;
			}
		}
	}

	a {
		display: block;
		padding: 20px 10px;
		text-align: left;
		text-transform: uppercase;
		@include ctatransition();

		@include media-breakpoint-up(lg){
			font-size: 1.2em;
		}

		@include media-breakpoint-up(lg){
			font-size: 1.3em;
		}

		@media only screen and (min-width: $responsive-menu-break-min) {
			display: block;
			padding: 20px;
			color: $color-white;
			font-weight: 700;
			&:hover {
				color: $color-white-hov;
				text-decoration: none;
			}
		}
	}

	.current-menu-item > a {
		color: $color-white-hov;
		text-decoration: none;
	}

	> .menu-item > a {
		@media only screen and (min-width: $responsive-menu-break-min) {
			padding: 20px 11px 30px;
		}

		@include media-breakpoint-up(lg) {
			padding: 20px 20px 30px;
		}
	}

	.menubutton {
		> a {
			font-weight: 400;
			font-size: 1.1em;
			background: $color-grey;
			color: $color-white;
			padding: 30px 31px;
			border-radius: 50px;
			@include ctashadow();
			@include ctatransition();
			&::after {
				content: '';
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				border-radius: 50px;
				left: 0;
				top: 0;

				box-shadow: inset 0 0 0 999px rgba(255,255,255,0.15);
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
		}
		&:hover {
			> a {
				color: $color-white-hov;
				&::after {
					opacity: 1;
				}
			}
		}

		&__hamburger {
			margin-left: 10px;

			@include media-breakpoint-up(sm) {
				margin-left: 2.5em;
			}
			> a {
				padding: 28px 20px;
				@include media-breakpoint-up(sm) {
					padding: 39px 31px;
				}
			}
		}

		&__modal {
			> a {
				font-weight: 700;
				font-size: 1.3em;
				color: $color-white;
				background: linear-gradient(90deg,$color-primary-dark 0, $color-primary-light);
				padding: 14px 25px;
				border-radius: $border-radius;
				text-transform: uppercase;
				letter-spacing: 1pt;

				@include ctashadow();
				@include ctatransition();
			}
		}
	}

	// Sub Menus
	.sub-menu {
		display: none;

		@media only screen and (min-width: $responsive-menu-break-min) {
			display: none;
			background: #fff;
			left: 0;
			margin-left: 0;
			position: absolute;
			min-width: 200px;
			z-index: 99;

			border: 2px solid $color-grey-lighter;
			border-top: 2px solid $color-primary-hov;

			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;

			a,
			.menu-item {
				display: block;
				border: none;
				margin-bottom: 0;
			}

			.menu-item-has-children:hover > .sub-menu {
				display: block;
				left: auto;
			}
		}

		a {
			font-size: .8em;
			font-weight: 500;
			padding-left: 40px;
			word-wrap: break-word;

			@media only screen and (min-width: $responsive-menu-break-min) {
				border-top: 0;
				padding: 20px;
				word-wrap: break-word;
			}
		}

		> .menu-item:first-child {
			@media only screen and (min-width: $responsive-menu-break-min) {
				//border-top: 2px solid $color-grey-lighter;
			}
		}

		.sub-menu {
			@media only screen and (min-width: $responsive-menu-break-min) {
				margin: -1px 0 0 198px;
				top: 0;
			}
			a {
				padding-left: 60px;

				@media only screen and (min-width: $responsive-menu-break-min) {
					padding: 20px 30px;
				}
			}
		}
	}
}

.nav-slidein {
	background: $color-modal-background;
	position: fixed;
	z-index: -1;
	width: 100%;
	right: 100%;
	opacity: 0;
	@include media-breakpoint-up(md) {
		width: 420px;
		right: -420px;
		display: none;
	}


	@include ctatransition();
	&.show {
		right: 0;
		opacity: 1;
		z-index: 9;
		display: block;
		@include ctatransition();
	}
}

.menu {
	&__hamburger {
		height: 2px;
		width: 1em;
		background: $color-white;
		position: relative;
		display: flex;
		&::before {
			content: ' ';
			height: inherit;
			width: inherit;
			background: $color-white;
			position: absolute;
			top: -.4em;
			@include ctatransition();
		}
		&::after {
			content: ' ';
			height: inherit;
			width: inherit;
			background: $color-white;
			position: absolute;
			bottom: -.4em;
			@include ctatransition();
		}
		&.open {
			background: $color-grey;
			&::before {
				transform: rotate(45deg);
				top: 0;
			}

			&::after {
				transform: rotate(-45deg);
				bottom: 0;
			}
		}
	}
}

// Primary Navigation
@include media-breakpoint-up(md) {
	.nav-primary {

		> .wrap {
			max-width: 1240px;
			padding: 0;
		}
	}
}

@include media-breakpoint-up(lg) {
	.nav-primary {

		> .wrap {
			max-width: 1240px;
			padding: 0 20px;
		}
	}
}

@media only screen and (min-width: $responsive-menu-break-min) {
	.nav-primary,
	.admin-bar .nav-primary {
		height: auto;
		overflow: visible;
		padding: 0;
		position: static;
	}
}

// Responsive Menu
@media only screen and (min-width: $responsive-menu-break-min) {
	.genesis-responsive-menu {
		display: inline-block;
		visibility: visible;
	}
	.menu-toggle,
	.sub-menu-toggle {
		display: none;
		visibility: hidden;
	}

	.menu .menu-item:focus {
		position: static;
	}

	.menu .menu-item > a:focus + ul.sub-menu,
	.menu .menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}

@media only screen and (max-width: $responsive-menu-break-max) {
	.genesis-responsive-menu {
		display: none;
		position: fixed;
		right: 0;
		background: $color-grey-lighter;
		z-index: 100;
		width: 75%;
		padding: 30px 0 0 20px;
		border-bottom-left-radius: $border-radius;
		max-height: calc(100vh - 85px);
		overflow: scroll;
		.scrolled & {
			top: 59px;
		}

		@include media-breakpoint-up(sm) {
			width: 50%;
		}

		> .wrap {
			padding: 0;
		}

		.genesis-nav-menu {
			.sub-menu {
				border: none;
				clear: both;
				display: none;
				margin: 0;
				opacity: 1;
				position: static;
				width: 100%;
			}

			.menu-item {
				display: block;
				float: none;
				position: relative;
				text-align: left;

				a {
				 	padding: 15px 20px;
				 	width: 100%;
					color: $color-white;
					font-weight: 600;

					&:focus,
					&:hover {
						text-decoration: underline;
					}
				}

				&.current-menu-item > a {
					color: $color-white-hov;
					text-decoration: none;
				}

				&.moved-item-nav-secondary {
					a {
						font-weight: 400;
					}
				}

				.sub-menu a {
					padding-left: 30px;
				}
			}

			.menubutton {
				height: 100px;
				> a {
					position: absolute;
					background: #fff;
					color: $color-white;
					font-weight: 600;
					font-size: 1.1em;
					width: initial;
					margin: 15px 0 0 20px;
					padding: 17px 35px 15px 35px;
					box-shadow: 0 3px 10px $color-grey;
					border-radius: $border-radius;
				}
			}
		}
	}

	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;

		@media only screen and (min-width: $responsive-menu-break-min) {
			display: block;
			visibility: visible;
		}
	}

	.menu-toggle,
	.sub-menu-toggle {
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.menu-toggle {
		line-height: 20px;
		font-size: 1.2em;
		position: relative;
		z-index: 1000;
		width: 100%;
		background: none;
		border: none;
		color: $color-primary;
		text-align: right;
		padding: 16px 15px;

		&::before {
			font-size: 1.5em;
			margin-right: 15px;
			line-height: inherit;
			text-rendering: auto;
			vertical-align: bottom;
		}

		&:hover, &:focus, &:active {
			color: $color-primary;
			border: none;
			outline: none;
		}

		&.activated {
			color: $color-primary-hov;
		}
	}

	.sub-menu-toggle {
		float: right;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;

		&::before {
			display: inline-block;
			text-rendering: auto;
			transform: rotate(0);
			transition: transform .25s ease-in-out;
		}

		&.activated::before {
			transform: rotate(180deg);
		}
	}
}