/*----------  Hero header  ----------*/
.paroller {
  height: 400px;
  width: 100%;
  display: block;
  &--slider_slider, &--slider_slider-container {
    background-size: 130vh !important;
    height: 400px;
    @include media-breakpoint-up(lg) {
      height: 500px;
      background-size: 110vw  !important;
    }
    @include media-breakpoint-up(xl) {
      height: 680px;
    }
  }

  &__single, &__single-container {
    background-size: 130vh !important;
    height: 360px;
    @include media-breakpoint-up(lg) {
      height: 450px;
      background-size: 110vw  !important;
    }
    @include media-breakpoint-up(xl) {
      height: 500px;
    }
  }

  &__map, &__map-container {
    background-size: 130vh !important;
    height: 300px;
    @include media-breakpoint-up(lg) {
      height: 400px;
      background-size: 110vw  !important;
    }
    @include media-breakpoint-up(xl) {
      height: 500px;
    }
  }

  &--header {
    background-size: cover !important;
    height: 101vh;

    &.hero-low {
      height: 55vh;
    }
    @include media-breakpoint-up(md) {
      height: 101vh;
      background-size: cover !important;

      &.hero-low {
        height: 45vh;
      }
    }
  }
}