
/*================================
=            Sidebars            =
================================*/

.sidebar {
	display: none;
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  1200  ----------*/

@include media-breakpoint-up(xl) {

	/* Primary Sidebar */

	.sidebar-primary {
		float: right;
		width: 320px;
	}

	.sidebar-content,
	.sidebar-sidebar-content {

		.sidebar-primary {
			float: left;
		}
	}

	/* Secondary Sidebar */

	.sidebar-secondary {
		float: left;
		width: 180px;
	}

	.content-sidebar-sidebar .sidebar-secondary {
		float: right;
	}

}
