

/*=================================
=            Structure            =
=================================*/

/*----------  Site Containers  ----------*/

.site-container {
	max-width: 100%;
	overflow: hidden;
}

.wrap {
	margin: 0 auto;
	max-width: 1180px;
	width: 100%;
}

.site-footer {
	color: #fff;
}

.site-inner {
	clear: both;
}

/*----------  Site Header  ----------*/

.site-header {
	width: 100%;
	//overflow: hidden;
	transition: background-color 0.5s ease;

	.SocialMenu {
		transform: scaleY(0);
		&.active {
			transform: scaleY(1);
		}
	}

	.socialsticky {
		margin: 1.35rem .75rem;
		transition: margin 150ms;
		button {
			padding: .75rem !important;
		}
	}

	@include media-breakpoint-up(md) {
		.socialsticky {
			margin: 1rem;
			transition: margin 150ms;
			button {
				padding: 1rem !important;
			}
		}

		&.scrolled {
			.socialsticky {
				margin: 0.5rem 1rem;
			}
		}
	}


	&.normal {
		height: auto;
		overflow: visible;

		position: fixed;
		top: 0;
		z-index: 999;
	}

	> .wrap {
		//padding: 15px 20px 0;
		//max-width: calc(100% - 60px); Turn on when there's a logo
		max-width: 100%;

		padding: 15px 10px;

		@include media-breakpoint-up(md) {
			padding: 15px 10px 0;
		}

		@include media-breakpoint-up(md) {
			> .wrap {
				padding: 15px 30px 0;
			}
		}

		@include media-breakpoint-up(xl) {
			padding: 15px 30px 0;
		}
	}

	&.scrolled {
		@include keyframes(slide-in-header) {
			0%   { top: -200px; }
			100% { top: -35px; }
		}

		//@include animation('slide-in-header linear .4s 1 forwards');
		position: fixed;
		visibility: visible;
		z-index: 999;

		@include media-breakpoint-up(md) {
			background: #333333ab;
		}

		> .wrap {
			border-bottom: 0;
		}

		.title-area {
			max-height: 45px;
			margin-top: 10px;
			.site-title a {
				margin-top: -30px;
			}
		}
	}
}

.admin-bar .site-header {
	top: 32px;
	@include media-breakpoint-down(sm) {
		&.scrolled {
			top: 0;
		}
	}
}

.header-widget-area {
	display: inline-block;
}

/*----------  Widgets  ----------*/

.widget {
	word-wrap: break-word;

	ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

.widget_calendar {

	table {
		width: 100%;
	}

	th,
	td {
		text-align: center;
	}
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@include media-breakpoint-up(md) {

	.footer-widgets {
		padding-left: 40px;
		padding-right: 40px;
	}

}

/*----------  1200  ----------*/

@include media-breakpoint-up(xl) {

	/* Structure */
	.site-inner {
		margin-top: 0;
	}

	/* Layout Wrappers */
	.content-sidebar-sidebar,
	.sidebar-content-sidebar,
	.sidebar-sidebar-content {

		.content-sidebar-wrap {
			width: 980px;
		}
	}

	.content-sidebar-sidebar .content-sidebar-wrap {
		float: left;
	}

	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		float: right;
	}

	.content {
		float: right;
		width: 760px;
	}

	.content-sidebar,
	.content-sidebar-sidebar,
	.sidebar-content-sidebar {
		.content {
			float: left;
		}
	}

	.content-sidebar-sidebar,
	.sidebar-content-sidebar,
	.sidebar-sidebar-content {

		.content {
			width: 580px;
		}
	}

	.full-width-content .content {
		width: 100%;
	}

	/*----------  Columns  ----------*/
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}

}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}