
/*----------  Typography  ----------*/
a {
	color: $color-primary;
	text-decoration: none;
	&.cta {
		font-weight: 600;
	}

	&:hover,
	&:focus {
		border-bottom: 0;
	}
}

p {
	margin: 0 0 1.3em 0;
	padding: 0;
}

.description {
	font-size: 20px;
	font-size: 1.25rem;
	color: $color-primary-text;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.wysiwyg {
	ol,
	ul {
		margin: 0;
		padding: 0;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 5px;
		&::before {
			content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
			color: $color-secondary; /* Change the color */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
			margin-left: -1em; /* Also needed for space (tweak if needed) */
		}
	}
}

.entry-content,
.footer-widgets {

	ol,
	ul {
		margin-bottom: 28px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid $color-grey-alt;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

strong {
	color: $color-primary-hov;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

small,
cite {
	font-size: 0.875em;
}

svg.svg {
	&-inline--fa {
		height: 1em;
	}
	&-contacticon {
		height: 1.5em;
		width: 1.5em;
		fill: currentColor;
	}
}


/* Headings */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	color: $color-secondary-darker;
	font-weight: 600;
	word-wrap: break-word;
	&.h-large {
		font-size: 48px;
		font-size: 3rem;
		line-height: 1.25em;
	}
	&.h-medium {
		font-size: 42px;
		font-size: 2.625rem;
		line-height: 1em;
	}
}

h1,
.entry-title {
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 1.25em;
}

h2, .h2 {
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 1.25em;
}

h3, .h3 {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.25em;
}

h4 {
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: 1.22em;
}


h5,
h6 {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.22em;
}

/*----------  Site Header  ----------*/

.site-title {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;
}

.site-description {
	display: none;
	font-size: 1em;
}

.sitelogo {
	&__container {
		border: 5px solid #fff;
		-ms-flex: 0 1 auto;
		padding: 15px;
		margin: 0 auto;
		display: inline-block;
	}

	&__title {
		font-family: "Club Seven", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 80px;
		font-size: 5.2em;
		font-weight: 400;
		line-height: 0.8;
	}

	&__subtitle {
		font-size: 1.25em;
		font-weight: 600;
		line-height: 1em;
	}
}

/*----------  Widgets  ----------*/

.widget-title,
.footer-widgets .widget-title,
.sidebar .entry-title {
	font-size: 22px;
	font-size: 2.2rem;
	margin-top: 0;
}

.footer-widgets .widget-title {
	margin-top: 0;
}

/*----------  Author Box  ----------*/

.author-box-title {
	font-size: 18px;
	font-size: 1.8rem;
	margin-top: 0;
}

/*----------  Archive Description  ----------*/

.archive-title {
	margin: 0;
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@include media-breakpoint-up(md) {
}

/*----------  992  ----------*/

@include media-breakpoint-up(lg) {
}

/*----------  1200  ----------*/

@include media-breakpoint-up(xl) {
}