/*===============================
=            Widgets            =
===============================*/


/*----------  Sidebar Widgets  ----------*/

.sidebar .widget {
	margin-bottom: 40px;
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@include media-breakpoint-up(md) {

	/* Footer Widgets */
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		float: left;
		margin-left: 2.564102564102564%;
		width: 31.623931623931625%;
	}

	.footer-widgets-1 {
		margin-left: 0;
	}

}

/*----------  1200  ----------*/

@include media-breakpoint-up(xl) {

	/* Widget Areas */
	.sidebar {
		display: block;
	}

	.footer-widgets {
		margin-top: 40px;
	}

}